In [1]:
%pylab inline
import pandas
import sqlite3
import pymc3
import seaborn as sns
from sklearn import *
from tqdm import tqdm

Populating the interactive namespace from numpy and matplotlib

/home/riri/.virtualenvs/mxnet-3/lib/python3.4/site-packages/sklearn/lda.py:4: DeprecationWarning: lda.LDA has been moved to discriminant_analysis.LinearDiscriminantAnalysis in 0.17 and will be removed in 0.19
  "in 0.17 and will be removed in 0.19", DeprecationWarning)
/home/riri/.virtualenvs/mxnet-3/lib/python3.4/site-packages/sklearn/qda.py:4: DeprecationWarning: qda.QDA has been moved to discriminant_analysis.QuadraticDiscriminantAnalysis in 0.17 and will be removed in 0.19.
  "in 0.17 and will be removed in 0.19.", DeprecationWarning)

In [2]:
con = sqlite3.connect('./data.sqlite3')

In [13]:
some_data = pandas.read_sql('''
    SELECT sales_depo, adjusted_demand 
      FROM data
     WHERE week_num=3 AND product_id=32940
''', con=con)

In [14]:
some_data.groupby('sales_depo').count()

            adjusted_demand
sales_depo
1111                    211
1112                    110
1113                    107
1116                    251
1120                    234
1121                    180
1123                    121
1127                    230
1130                     72
1137                    129
1138                    139
1140                    109
1153                    152
1212                    114
1213                    153
1215                     84
1216                    275
1217                    179
1218                    183
1219                    146
1220                    244
1221                    327
1222                    142
1223                     72
1224                    193
1232                    149
1235                     36
1236                    117
1237                     80
1238                     73
...                     ...
2071                    303
2072                    276
2092                     20
2213                    147
2614                     32
2627                     21
2629                     15
2649                     18
2653                    473
3211                     39
3212                    109
3213                    169
3214                    309
3215                    322
3217                    133
4010                    590
4011                     18
4013                     15
4037                    325
4040                    417
4041                    126
4046                    842
4049                    407
4051                    308
22090                     5
22187                   237
22362                   145
23719                    76
24669                     9
25699                    88

[186 rows x 1 columns]